<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
</head>
<body>
    <h1>Список задач</h1>
    <ul>
        <% tasks.forEach(task => { %>
            <li>
                <a href="/tasks/<%= task.id %>"><%= task.title %></a>
                <a href="/tasks/<%= task.id %>/edit">Редагувати</a>
                <form action="/tasks/<%= task.id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Видалити</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <a href="/tasks/new">Додати нову задачу</a>
</body>
</html>
