<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додати нового користувача</title>
</head>
<body>
    <h1>Додати нового користувача</h1>
    <form action="/users/create" method="POST">
        <label for="username">Назва:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Електронна пошта:</label>
        <textarea id="email" name="email"></textarea>
        <br>
        <button type="submit">Додати користувача</button>
    </form>
    <a href="/users">Повернутися до користувачів</a>
</body>
</html>
